body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.frame {
  position: relative;
  width: 360px;
  height: 540px;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  user-select: none;
  touch-action: none;
}
.button {
  display:flex;
  align-items:center;
  gap:20px;
  grid-gap:20px;
}
.button div {
  display:flex;
  align-items:center;
  justify-content:center;
  width:60px;
  height:60px;
  border-radius:50%;
  background-color:var(--mian-white);
  border:1px solid rgba(0,0,0,0.5);
  cursor: pointer;
  margin-top:30px;
}