body {cursor:none;}
#root__ {
    position:relative;
    height:100%;
    background:#845EC2;
}
.cursor {
    position: fixed;
    left:0;
    top:0;
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #222;
    background:rgba(0,0,0,0.1);
    z-index:9999;
    user-select: none;
    pointer-events: none;
    transition:width .3s , height .3s;
    mix-blend-mode: difference;
}
.cursor.on {
    width:75px;
    height:75px;
}
.mousemove {
    position:fixed;
    left:1rem;
    bottom:1rem;
    display:flex;
    flex-direction: column;
    min-width:130px;
    padding:0.5rem 0 0.5rem 1rem;
    background:rgba(255,255,255,0.3);
    border-radius:1rem;
    box-sizing:border-box;
}
.mousemove li {
    font-size:0.7rem;
    padding:0.25rem 0;
}

.section {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    background:var(--bc);
}
.section span {
    font-size:1.5rem;
    color:antiquewhite;
    line-height:3rem;
}
.section span span {
    display:inline-block;
    font-size:1.75rem;
    line-height:2.3rem;
    color:#FBEAFF;
    border-bottom:3px dotted #FBEAFF; 
}